/* FILEPATH: /c:/Users/andre/github-classroom/DSAW-2024-1/intro-to-html-and-css-andresazcona/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young:wght@400;700&family=Outfit:wght@400;700&display=swap');



/* Reset default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set a background color */
body {
    background-color: #F3E5D8;
}

/* Style the heading */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Style paragraphs */
p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.content {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 25px;
}


.imagen {
    width: 600px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 20px;

}
.imagen img {
    width: 600px;
    height: 300px;
    border-radius: 15px;
}


.main_title {
    text-align: left;
    font-size: 40px;
    color: #333;
    margin-bottom: 10px;
    font-family: 'young serif', sans-serif;
}

.attribution {
    text-align: center;
    font-size: 10px;
    color: #333;
    margin-bottom: 5px;
    padding-top: 20px;
    font-family: 'Outfit', 'regular';
}

.parrafo1 {
    text-align: left;
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Outfit', 'regular';
}

.preparation {
    width: 600px;
    height: 170px;
    padding-top: 5px;
    background-color: #ffeaf7;
    border-radius: 25px;
    margin-top: 20px;
    position: center;
}

.preptm {
    text-align: left;
    font-size: 20px;
    color: #994d7c;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: 'Outfit';
}

.lstttl {
    text-align: left;
    font-size: 10px;
    color: #333;
    margin-bottom: 10px;
    padding-left: 60px;
    font-family: 'Outfit';
    font-weight: 100;
}

.tittle {
    text-align: left;
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'young serif', sans-serif;
    font-weight: bold;
}

.list2 {
    text-align: left;
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
    padding-left: 60px;
    font-family: 'Outfit';
    font-weight: 100;
}

.items {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    

}

.list3 {
    text-align: left;
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
    padding-left: 60px;
    font-family: 'Outfit';
    font-weight: 100;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Outfit';
    font-weight: 100;

  }
  
  th {
    background-color: #ffffff;
  }
